h1 {
  font-weight: 200;
  text-align: center;
  font-size: 45px;
  font-family:serif;
  color: var(--ic-brand-font-color-dark);
  color : black;
}
h2 {
  text-align: center;
  color: var(--ic-brand-font-color-dark);
  color: rgb(225,400,25);
  font-size: 25px;
  font-family: "sans-serif";
}
body {
   background-color: teal;
   text-align: center;
}
div {
  padding: 14px 40px;
}
